.uc-body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: url("./assets/images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.folder {
    padding: 0px;
}

#main {
    width: 1100px;
    height: 80vh;
    background: linear-gradient(135deg, rgba(255, 222, 128, 1) 0%, rgba(255, 205, 70, 1) 100%);
    border-radius: 0px 50px 10px 10px;   
    visibility: visible;
    margin: auto;
    width: 75%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top {
    background-color: #FBBC19;
    height: 50px;
    width: 100px;
    position: absolute;
    transform: translate(165px, 34px);
}

